/* Modules */
    @import 'modules/header.css';
    @import 'modules/inf_group.css';
    @import 'modules/activites.css';
    @import 'modules/footer.css';
    /****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a
{
 text-decoration:none;
 color:black;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width:320px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergement_card img
{
 width:100%;
 height: 7.75rem;
 border-radius: 1.25rem 1.25rem 0rem 0rem;
}
.hebergement_card
{
    display: flex;
    padding-bottom: 0px;
    justify-content: space-around;
    gap: 1.875rem;
    flex-wrap: wrap;

}

.hebergement_card .card
{
    width: 27%;
    height:235px;
    padding:0px;
}

.hebergements h2
{
    padding-bottom:30px;
}

.card-txt
{
 padding-top: 4px;
}

h3

{
    margin:0px;
}
.hebergement_card h3
{
    padding-left:15px;
}

.hebergement_card .card-subtitle
{
    padding-left:15px;
    margin:0px;
}

.hebergement_card .card-rating
{
    padding-left:15px;
}

h4
{
font-size: 18px;
font-weight: 700;
width:100%;

}

.hebergements a
{
 text-decoration: none;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 190px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
    width: 82px;
    height: 136px;

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
 .main-container
 {
  padding: 0 20px;
 }

.hebergements
{
    background-color:white;


}

.populaires
{
    display:flex;
    background-color: var(--main-bg-color);
     flex-direction: column;
}

.populaires-cards
{
    display:flex;
    flex-direction: column;
}
/* _____________________________________________________ */
.hebergements-and-populaires {
  flex-direction: column-reverse;
}

.hebergement_card
{
 flex-direction: column;
}

.populaires-cards .card {
        width: 100%;
    }

    .hebergements h2
{
    font-size: 15.043px;
}

.hebergement_card .card
{
 width: 100%;
 height:207px;
}

}

/* 320min */
