.activites{
 display:flex;
 flex-direction:column;
}

.activites .section-title
{
 margin-top:24px;
 margin-bottom:24px;
}

.activites-cards
{
 width:20%;
 height:439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.box-card{
 display:flex;
justify-content: space-between;
}


.activites-title {
    display: flex;
}

.activites-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction:column;
}

.activites-cards img {
    width: 100%;
    height: 388px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards .activites-card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .activites-card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


@media (max-width: 1024px)
{

.activites-cards
{
    height:277px;
    width:23%;
}

.activites-cards img {

    height: 225px;;
}

}

@media (max-width: 768px)
{


.box-card
{
margin-top:24px;
display: flex;
flex-direction: column;
align-items: center;
gap:28px;
}

.activites-cards
{
 width:100%;

}


}
