footer a
{
    text-decoration:none;
}

footer
{
    display: flex;
    margin-top:2.188rem;
}

footer div
{
    display: flex;
    flex-direction: column;
    width:90%;
    height:10.188rem;
    background-color:var(--main-bg-color);
    padding:1.25rem 1.25rem;
}

footer a
{
    padding-top: 0.938rem;
}


@media (max-width: 768px)
{
footer
{
    display: flex;
    flex-direction: column;
}
}
