.header
{
display: flex;
align-items: flex-start;
gap: 70%;

}

.img_header
{
padding: 1.875rem 0rem;

}

.nav_header
{
display: flex;
width:38%;
text-align: end;

}


.nav_button:hover,
.nav_button:active {
  text-decoration: underline #0065FC;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: -1.5rem;
}

.nav_button
{
   width: 100%;
}


a:visited {
  color: black;
}


/* tablette */
@media (max-width: 1024px)
{
.header
{
 gap:58%;
}
}


/* telephone */
@media (max-width: 768px)
{
  .header
  {
   flex-direction: column;
   align-items: center;
  }

  .nav_header
  {
    align-items: center;
    width:100%;
  }

  .nav_button
  {
   text-align:center;
  }

  .nav_button:hover,
  .nav_button:active
  {
    text-decoration:none;
     border-bottom: 0.125rem solid #0065FC;
  }




}
