.inf_group
{
    max-width:1340px;
    height: 281px;
    margin-bottom:2.18rem;
    margin-top: 1.875rem;

}

.inf_group h1
{
    font-size: 22px;
    margin-bottom:0.5rem;
}

.filterbar h2
{

    font-size: 18px;
    width:54px;
    height:21px;
}

p
{
    font-size: 16px;
}

.search_bar
{
    display: flex;
    align-items: center;

}

.localisation
{
    width: 50px;
    height: 49px;
}

.rechercher
{
    display: flex;
    padding:13px 15px 13px 15px;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);

    color: var(--white, #FFF);
    font-size: 18px;
    font-weight: 700;
    text-align:center;


}

.rechercher_min
{
    display:none;
    padding:13px 15px 13px 15px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
}


#site-search
{
    width: 195px;
    height:49px;
    color: var(--black, #000);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border:none;

}

.filterbar
{
    display: flex;
    align-items: center;
    margin-top:2.188rem;
    gap:2%;
    max-width:900px;
}

.box
{
    display: flex;
    gap:4%;
    align-items: center;
    width:45%;
}

.button_filter
{

 display: flex;

}

.button
{
    padding: 2% 2% 2% 2%;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    font-size: 16px;
    font-weight: 700;
    width: 46%;
    text-align: center;
}



.button:hover,
.button:active
{
       background-color:var(--blue-light, #DEEBFF);

}

.info
{
    display: flex;
    align-items: center;
}

.info i
{
    padding: 2px 7px;
    text-align:center;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    border-radius: 25px;
    margin-right:10px;

}


@media (max-width: 768px)
{

.rechercher
{
    display:none;
}

.rechercher_min
{
    display:flex;
}

.filterbar
{
    align-items:start;
    flex-direction: column;
}

.inf_group
{
 height: 26.5rem;
 margin-bottom: -4.8rem;
}

.button
{
margin-top:10px;
}

.box{
 width:100%;
}

.search_bar
  {
    justify-content: center;
  }


#site-search
{
    width:100%;
}

}
